version: 2

jobs:
  lint:
    macos:
      xcode: "9.3.0"
    steps:
      - checkout
      - run:
          name: Install Swiftlint
          command: sh ./Scripts/install_swiftlint.sh
      - run:
          name: Lint
          command: swiftlint
          
    test:
      macos:
        xcode: "9.3.0"
      steps:
        - checkout
        - run:
            name: Update Dependencies
            command: sh ./Scripts/update_dependencies.sh
        - run:
            name: Build for testing
            command: sh ./Scripts/build_for_testing.sh

  deploy:
      macos:
        xcode: "9.3.0"
      steps:
        - checkout
        - run:
            name: Deploy ipa
            command: sh ./Scripts/upload_ipa.sh
          
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - lint:
           filters:
             branches:
               ignore:
                 - /^docs[-\/].*$/
                 - /^.*-docs$/
      - test:
           requires:
             - lint
    - deploy:
          filters:
            branches:
              only: master
