version: 2

jobs:
  build-and-test:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run:
          name: Update Dependencies
          command: sh ./Scripts/update_dependencies.sh
      - run:
          name: Build for testing
          command: sh ./Scripts/build_for_testing.sh

  deploy:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run:
          name: Deploy ipa
          command: sh ./Scripts/upload_ipa.sh
          
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-and-test:
         filters:
           branches:
             ignore:
               - ipa
      - deploy:
          filters:
            branches:
              only: master
